* {
    margin: 0;
    padding: 0;
}


.inter-font {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;

}




nav {
    display: flex;
    justify-content: space-between;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;


}

.nav-section {
    align-items: center;

}



.btn {

    margin-left: 346px;
    width: 164px;
    height: 44px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 4px;
    background-color: #30B868;
    color: aliceblue;
    font-weight: 600;

}

header {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 120px;
    margin-left: 120px;
}

.banner-btn {


    width: 251px;
    height: 52px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 4px;

    color: aliceblue;
    font-weight: 600;

    margin-top: 32px;


}


.banner-btn:hover {
    color: rgb(14, 18, 10);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6)
}

#banner {
    background-image: url(assets/hero-bg.png);
 
    height: 674px;

    margin: 0;
    padding: 0;
    background-size: cover;
    /* Makes image cover entire width */
    background-position: relative;
}

.banner-content {
    text-align: center;

    padding-top: 174.5px;
    padding-bottom: 339.5px;
    color: aliceblue;
}

.early {
    background-color: white;
    color: #30B868;
    width: fit-content;

    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px 15px 5px 15px
}




span {
    color: #30B868;
}

#middle-part {
    font-family: Inter;
    font-style: Bold;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 80px;
    margin-left: 144px;
    margin-right: 144px;
}

#grid {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.grid-box {
    background-color: rgb(250, 249, 249);
    border-radius: 9px;
    height: 200px;
    width: 250px;
    text-align: center;
    gap: 16px;
    padding: 24px 24px 24px 24px;
    box-shadow: 1px 4px 25px -4px rgba(0, 0, 0, 0.99);
}

.grid-box img {
    background-color: rgb(234, 82, 82);
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 10px;
}

.grid-box p {
    color: rgb(144, 148, 151);
}

#brain {
    display: flex;
    justify-content: space-between;
    margin: 120px 120px 120px 120px;
    gap: 60px;
    text-align: start;
}

.brain-text {

    text-align: left;
    padding-top: 102px;
    padding-bottom: 102px;

}

.brain-text p {

    color: rgb(144, 148, 151);

}

.brain-list li {
    list-style: url(assets/CheckCircle.png);

}



.brain-list {
    font-weight: 500;
    color: var(--Style, rgba(0, 25, 49, 1));
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

#ready {
    text-align: center;
    justify-items: center;
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 120px 120px 120px 120px;
}

.ready-btn {

    width: 164px;
    height: 44px;
    background-color: #30B868;
    color: aliceblue;
    font-weight: 600;

}

.ready-btn:hover {
    color: rgb(15, 24, 8);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6)
}

footer {

    background: var(--Style, rgba(0, 25, 49, 1));
   
    height: 348px;
}

#footer-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 120px;
    padding-left: 120px;
    padding-right: 120px;

}

.footer-menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    margin-top: 16px;




}

.footer-text {
    margin-top: 80px;
    color: rgba(250, 250, 250, 1);
    text-align: center;
    border-top: 1px solid rgba(211, 211, 211, 0.366);
    padding-top: 20px;
    margin-left: 120px;
    margin-right: 120px;
    font-style: regular;
}